@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color:#F2F2F2;
  margin:0;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  background-color:#FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.visually-hidden{
  display: none;
  position: absolute;
  width:1px;
  margin: 0;
  padding: 0;
  border:0;
  clip:rect(0 0 0 0);
  overflow: hidden;
}

.page-header{
  background: #FFFFFF;
}

.main-index{
  background: #FFFFFF;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
}

.button{
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 8px 34px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-link.button{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.newsletter{
  background-image:url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color:#FFFFFF;
  padding:96px 258px 104px 258px ;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-catalog{
  background: none;
}

.newsletter-button{
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;

}

.newsletter.p{
  font-size: 22px;
  line-height: 26px;

}

.newsletter-form{
  display: flex;
  justify-content: center;
}

.navigation-item, .advantages-item, .footer-social-item, .control-item, .breadcrumbs-item, .card-list-item, .pagination-item{
  list-style-type: none;
}

.active{
  color: #756257;
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.navigation{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 70px;
  box-sizing: border-box;
}

.navigation-list{
  display:flex;
  list-style: none;
  width: 310px;
  justify-content: space-between;
  padding: 0;
  margin-right: 82px;
  margin-left: 184px;
}

.navigation-user{
  margin-right:0;
}

 .navigation-link{
  color: #333333;
  text-decoration: none;
  text-align: center;
  font-weight:700;
  flex-wrap:wrap;
  font-size: 20px;
  line-height: 24px;
}

.main-header-logo{
  position:relative;
  height: 65px;
}

.header-logo{
  position:absolute;

}

.logo-welcome{
  margin-bottom: 82px;
}

.logo-welcome-image{
  display: block;
  margin: auto;
}

.main-overview{
  display: block;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
}

.main-overview p{
  margin: 0;
}

.advantages{
  text-align: center;
}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.advantages-item div,
.advantages-item{
  width:400px;
}

.advantages-item p{
  margin:0;
}

.advantages-item div{
  color:#FFFFFF;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.advantages-item-blue{
  background-color: #82B3D3;
  display: flex;
  width: 100%;
}

.advantages-title-blue{
  padding: 102px 112px 30px 112px;
  color: #FFFFFF;
  margin:0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-paragraph-blue p{
  padding: 30px 85px 102px 85px;
  color: #FFFFFF;
  margin: 0;
}

.advantages-item-sky{
  background-color: #83B3D31F;
}

.advantages-img{
  flex-grow:1;
}

.advantages-img-item{
  margin-top: 81px;
}

.advantages-list p{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 30px 85px 112px 85px;

}

.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 112px 112px 30px 112px;
  position: relative;
  margin:0;
}

.advantages-title::after{
  position: absolute;
  content:'';
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(270%);
}

.advantages-title-head{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin:0;
  padding-left: 290px;
  padding-right: 290px;
  padding-bottom: 25px;
}

.advantages-title-head-two{
  padding-left: 347px;
  padding-right: 347px;
}

.advantages-box-two p{
  padding-bottom: 81px;
  font-size: 18px;
  line-height: 21px;
  color:#000;
}

.advantages-two{
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-two{
  padding:0;
}

.advantages-title-head-three{
  padding-left: 0px;
  padding-right: 0px;
}

.field{
  border-radius: 4px 0 0 4px;
  border-style: none;
  width: 452px;
  height: 34px;
  background-color: #F2F2F2;
}

.search-hotels{
  text-align: center;
  padding: 96px 304px;
  font-size: 22px;
  line-height: 26px;
}

.page-footer-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


/* Каталог */
.catalog{
  margin: 0;
  padding: 0;
}

.catalog-filter{
  padding: 0;
  margin: 0;
  display: flex;
}

.catalog-filter-group{
  border:none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group-one{
  margin-right: 70px;
}

.catalog-filter-group-two{

}

.catalog-filter-list{
  padding: 0;
  margin: 0;
}

.catalog-filter-title{
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding-bottom: 32px;
}

.control-item{
  font-size: 18px;
  line-height: 23px;
  padding-bottom: 16px;
}

.control{

}

.control-input{

}

.range-scale{
  margin-left: auto;
}

.range-scale h3{
  text-align: start;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin:0 0 32px 0;
}


.range-bar{
  display: flex;
  position: absolute;
  width: 270px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  background:#FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-property: outline;
  transition-duration: 0.15s;
}

.toggle-max{
  top: -8px;
  left: 206px;
}

.toggle-min{
  top: -8px;
  left: 0;
}

.range-left{
  border-radius: 4px 0 0 4px;
  background:#F2F2F2;
  border-style: none;
  width: 143px;
  height: 48px;
  margin-right: 2px;
}

.range-right{
  border-radius: 0 4px 4px 0;
  background:#F2F2F2;
  border-style: none;
  width: 143px;
  height: 48px;
}
.box-range{
  display: flex;
  padding-bottom: 36px;
}

.filter-price-bar{
  display: flex;
  justify-content: space-around;
  padding-left: 140px;
}

.page-footer-title-catalog{
  color:#000000;
}

.pagination{
  display: flex;

}

.footer-contacts{
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.footer-social-item{
  display: flex;
  margin-right: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts-address-phone{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color:#000000;
}

.footer-social-list{
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.main-catalog{
  background-image:url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color:#FFFFFF;
  margin: 0;
  display: block;
  padding: 35px 70px 70px 70px;
}

.main-catalog-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin-bottom: 8px;
  margin:0;
}

.breadcrumbs{
  display: flex;
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  list-style-type: none;

}

.breadcrumbs-link{
  color: #FFFFFF;
  margin-right: 28px;
}

.control{
  display: flex;
  justify-content: flex-start;
}

.select-control{
  width: 292px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.card-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  list-style: none;
}

.card-list-link{
  text-decoration: none;
  color:#000000;
  display: grid;
  grid-column: 2 span;
}

.card-list-item{
  padding: 19px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
}

.product-card-image{
  width: 300px;
}

.product-card-title{
  display: inline-grid;
  list-style: none;
  text-decoration: none;
  color: #000;
  margin:0;
  grid-column: 1 / -1;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.price{
  padding-left: 62px;
}

.card-price{
  display: grid;
  font-size: 18px;
  line-height: 28px;
  grid-column: 1 / -1;
}

.card-button{
  padding: 8px 50px;
}

.page-catalog{
  padding: 0 70px 0 70px;
  margin:0;
}

.button-filter{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.button-apply{
  background: #82B3D3;
  margin-bottom: 32px;
}

.button-reset{
  background:none;
}

.button-view{
  background: none;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  padding: 14px 12px;
}

.button-view-active{
  border: 2px solid #000;
}

.button-favorits{
  background-color: #82B3D3;
  line-height: 20px;
  padding: 8px 20px;
}

.button-favorits-active{
  background-color: #7DB54F;
  line-height: 20px;
  padding: 8px 18px;
}

.button-card{
  line-height: 20px;
  padding: 8px 20px;
}

.rating{
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  padding: 9px 22px 8px 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.list-view{
  width: 160px;
  height: 48px;
  display: flex;
  gap:8px;

}

.filter-view-title{
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color:#000000;
}

.filter-view{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}


.newsletter-catalog{
  color: #000000;
}

.newsletter-catalog{
  text-align: center;
}

.pagination-link{
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  color: #FFFFFF;
  display: block;
  box-sizing: border-box;
  padding: 16px 0 12px 0;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-item{
  margin-right: 8px;
}

.pagination-link-active{
  background-color:#F2F2F2;
  color: #000000;
}

.pagination-none{
  background:none;
  color: #000000;
}
